<?xml version="1.0"?>
<launch>
    <include file="$(find robot_controller)/launch/robot.launch">
	<arg name="robot_name" value="robot_1"/>
	<arg name="pose" value="1 2 0"/>
    </include>
    
    <include file="$(find robot_controller)/launch/robot.launch">
	<arg name="robot_name" value="robot_2"/>
	<arg name="pose" value="10 2 0"/>
    </include>
    
    <include file="$(find robot_controller)/launch/robot.launch">
	<arg name="robot_name" value="robot_3"/>
	<arg name="pose" value="20 2 0"/>
    </include>
</launch>